* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
#header {
  position: relative;
  background: url('images/anna-draine-herder-1.jpeg');
  height: 40vh; 
  background-position: bottom center;
  background-size: cover;
}
#header .overlay {
  position: absolute;
  background-image: linear-gradient(90deg,rgba(0,0,0,.7490196078) 20%,transparent);
  min-height: 40vh;
  width: 100%;
  top: 0;
  left: 0;
}
#header .ctn-banner {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 30vh;
}
#header .ctn-banner h1 {
  position: relative;
  font-weight: 800;
  font-size: 2.3rem;
  max-width: 700px;
  color: #fff;
}
#header .ctn-banner .btn {
  position: relative;
  background: #ff00bc;
  width: 250px;
  height: 50px;
  line-height: 37px;
  font-weight: 600;
  color: #fff;
  margin-top: 2rem;
}


#videos {
  background: #dfdfdf;
}
#videos h2 {
  font-weight: 800;
  max-width: 800px;
  text-align: center;
  padding-bottom: 3rem;
  margin: 0 auto;
}
#videos h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2rem !important;
}
#videos .btn {
  background: #ff00bc;
  width: 200px;
  height: 50px;
  margin-top: 3rem;
  line-height: 37px;
  font-weight: 600;
  color: #fff;
}

#features h2 {
  font-weight: 800;
  max-width: 800px;
  text-align: center;
  padding-bottom: 3rem;
  margin: 0 auto;
}
#features img {
  max-width: 550px;
  border-radius: 30px;
  float: left !important;
}
#features .para {
  margin-top: 1rem;
}
#features .para p {
  font-size: 1.1rem;
}
#features h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #502f11;
}

/********* Footer ********/
.footer{
  background-color: #252953;
}
.footer p {
  font-family: 800;
  font-size: 1rem;
  color: #fff;
}

.footer img {
  max-width: 100%;
  width: 100px;
  max-height: 100%;
  text-align: center;
}

